<div>
	<h3>{{homeService.currentAlbum.title}}</h3>
	<dl>
        <dd><b>{{tableHeads.albumID}}</b>&nbsp;{{homeService.currentAlbum.albumID}}</dd>
        <dd><b>{{tableHeads.title}}</b>&nbsp;{{homeService.currentAlbum.title}}</dd>
		<dd><b>{{tableHeads.artist}}</b>&nbsp;{{homeService.currentAlbum.artist}}</dd>
		<dd><b>{{tableHeads.year}}</b>&nbsp;{{homeService.currentAlbum.year}}</dd>
		<dd><b>{{tableHeads.genre}}</b>&nbsp;{{homeService.currentAlbum.genre}}</dd>
		<dd><b>{{tableHeads.price}}</b>&nbsp;{{homeService.currentAlbum.price | currency}}</dd>
	</dl>
    <div ng-controller="cartCtrl">
    <a href="" ng-click="cartService.AddCart(homeService.currentAlbum)">Add to Cart</a>
    </div>
</div>