<!-- Left Top Five Panel -->
<div class="col-md-5 border-right">
    <h3>Top Five Albums</h3>
	<dl ng-repeat="album in albums" >
		<hr/>
        <dd class="container">
            <a href="" ng-click="setAlbum(album.albumID)">{{album.title}}</a>
        </dd>
        <dd class="container">
            {{album.artist}}
        </dd>
	</dl>
</div>
<br>
<!-- Right Current Album Panel -->
<div class="col-md-4 col-md-offset-2 modal-content modal-body" ng-show="currentAlbum" ng-include src="sidebarURL">
</div>
<br/>